@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(34, 34, 34);
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 16px;
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

.wrapper {
	display: flex;
	gap: 40px;
}

.card {
	position: relative;
	width: 350px;
	height: 350px;
}

.face {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	border-radius: 10px;
	overflow: hidden;
	transition: .5s;
}

.card .front {
	transform: perspective(600px) rotateY(0deg);
	box-shadow: 0 5px 10px #fff;
}

.card .front img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.text-h1 {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 45px;
	line-height: 45px;
	color: #fff;
	background: rgba(0, 0, 0, .4);
	text-align: center;
}

.card .back {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	transform: perspective(600px) rotateY(180deg);
	background: rgb(3, 35, 54);
	padding: 15px;
	color: crimson;
	text-align: center;
	box-shadow: 0 5px 10px #fff;
}

.text-p {}

.links {
	border-top: 1px solid crimson;
	height: 50px;
	line-height: 50px;
}

.link-a {
	color: crimson;
}

.card .back .text-h2 {
	font-size: 30px;
	letter-spacing: 2px;
}

.card .back .text-p {
	letter-spacing: 1px;
}

.card:hover .front {
	transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
	transform: perspective(600px) rotateY(360deg);
}
